h2{
  text-align: center;
  font-size: 30px;
}

 
 .detail-table {
   margin-bottom: 30px;
   width: 90%;
   
 }
 
 .detail-intern {
   width: 20%;
   background-color: #eee;
   border: 1px solid #dedede;
   font-size: 14px;
   text-align: center;
 }
 
 .detail-value {
   width: 80%;
   padding: 20px;
   border: 1px solid #dedede;
   font-size: 14px;
 }

 
 table{
   margin: 0 auto
 }

 .back-page-btn{
  margin: 15px 0 0 0;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
 }
 
 .more_list{
   margin: 50px 0 30px 0;
 }

h4{
  font-size: 30px;
}