.SharePage{
  background-color: khaki;
  padding:  10px;
}

.item-info{
  background-color: white;
  padding: 10px;
}

.share{
  background-color: white;
}

.logout{
  background-color: white;
  border: 1px solid black;
  padding: 3px;
}

.item-name{
  text-align: center;
}

.item-img-content{
  text-align: center;
}

.logout{
  margin-left :50px
}

