.SharePage{
  background-color: khaki;
  padding:  10px;
  width: 100vw;
  height: 100vh;
}

.item-info{
  background-color: white;
  padding: 10px;
}

.share4{
  background-color: lightcyan;
}

.logout{
  background-color: white;
  border: 1px solid black;
  padding: 3px;
}

.item-name{
  text-align: center;
}

.item-img-content{
  text-align: center;
}

.logout{
  margin-left :50px
}

